.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 40px 20px;
  gap: 40px;
}

.textSection {
  flex: 1.5; 
  text-align: left;
  margin: 0; 
}

.imageSection {
  flex: 1;
  text-align: center;
}

.profileImage {
  width: 100%;
  max-width: 500px; 
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}


@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .textSection {
    width: 100%;
  }

  .imageSection {
    text-align: center;
  }

  .profileImage {
    width: 90%;
    max-width: 350px;
  }
}

.homeLinks {
  display: flex;
  gap: 15px; 
  margin-top: 20px; 

  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    padding: 10px 18px;
    border-radius: 5px;
    border: 2px solid #007bff;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #007bff;
      color: white;
    }
  }
}
